nav.navbar.navbar-inverse
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="/")= 'Web Exploits'
        if appData.nav
            ul.nav.navbar-nav.navbar-right
                each url in appData.nav
                    li
                        a(href="#{appData.url}#{url.url}")
                            | #{url.name}
      