div.container
    div.row
        div(class="col-md-8 col-md-offset-2")
            hr
            div(class="")
                | <a href="//elyst.us">Elystus</a> &copy; 2016

script(src="/assets/js/bootstrap.min.js")