doctype html
head
    include ../static/head.jade
body
    include ./static/navbar.jade
    div.container
        div.row
            div(class="col-md-6 col-md-offset-3")
                h2= 'SQL Injection Challenge'
                    small=' Briefing'
                hr
                p
                    | This is a very basic login portal requiring a Username and a Password. The challenge is to bypass the login portal and get the the hidden page. 
                p
                    | The passwords are hashed and salted then stored alongside the salt in a SQLite database. The Username and Password combinations are randomized and changed during every reset, with there being 10 possible login combinations. 
                
    include ../static/footer.jade