doctype html
head
    include ../static/head.jade
body
    include ./static/navbar.jade
    div.container
        div.row
            div(class="col-md-6 col-md-offset-3")
                h2= 'Totally Secure Login Portal (TSLP)'
                p
                   | Login point for SQL injection attempts. Please read the <a href='#{appData.url}/brief'>briefing</a> before starting!
        br
        div.row
            div(class="col-md-6 col-md-offset-3")
                if msg.err
                    <div class="alert alert-danger">#{msg.err}</div>
                form(method="POST")
                    input(id="auth-login-user", class="form-control", name="auth-login-user", type="text",  value="", placeholder="Username")
                    br
                    input(id="auth-login-pass", class="form-control", name="auth-login-pass", type="password",  value="", placeholder="Password")
                    br
                    input(id="auth-login-submit", class="form-control btn btn-block btn-primary", name="auth-login-submit", type="submit", value="Login")
            
    include ../static/footer.jade