doctype html
head
    include ../static/head.jade
body
    div.container
        div.row
            div(class="col-md-6 col-md-offset-3")
                div(class="panel panel-primary ", role="alert")
                    div.panel-heading
                        h4
                            | Error 404
                    div.panel-body
                        p
                            | This page was not found on the webserver. Please check to make sure that the URL was entered correctly, and that you have the correct credentials to view this page.
                        p
                            | If this is believed to be an error with the website, please contact the <a href="mailto:elystus@gmail.com">Elystus</a>.
                        hr
                        a(class="btn btn-primary btn-block" href="/")= 'Home'

    include ../static/footer.jade
    