doctype html
head
    include ../static/head.jade
body
    div.container
        div.row
            div(class="alert alert-success col-md-6 col-md-offset-3", role="alert")
                h2
                    | Exploitation Successful
                p
                    | Congratulations, you have successfully completed this exploitation challenge!
                    | Use the reset button below to attempt another method, or go to the home page to try another exploit.
            
        div.row
            div(class="col-md-3 col-md-offset-3")
                a(class="btn btn-primary btn-block" href="/")
                    | Home Page
            div(class="col-md-3")
                a(class="btn btn-primary btn-block" href="/")
                    | Home Page
    include ../static/footer.jade