doctype html
head
    include ./static/head.jade
body
    div.container
        div.row
            div.col-md-6.col-md-offset-3
                h2= 'Web Exploitation Challenges'
        div.row
            div.col-md-6.col-md-offset-3
                h4= 'SQL Injection'
                hr
        div.row
            div.col-md-6.col-md-offset-3
                a(href="/login-basic" class="btn btn-primary btn-block")='Login Basic'
        br
        div.row
            div.col-md-6.col-md-offset-3
                a(href="/page-basic" class="btn btn-primary btn-block")='Page Basic'
        br
        
    include ./static/footer.jade
    